fieldset{
    width:550px;
    height:789px;
    border-radius:30px;
    background-color:#4842f5;
}

input{
  width:182px;
  height:29px;
  border radius:5px;
  outline:none;
  text-indent: 5px;

}
input[type="submit"]:hover{
  background-color:cornflowerblue;
}
textarea{
  width:182px;
  height:25px;
  border radius:5px;
  outline:none;
  text-indent: 5px;

}
table{
  line-height: 30px;
}
